.form {

    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 360px;
    margin: 0 auto;
}

.text-delay {
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
gap: 8px;
}



.input-delay {
border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;

}

.input-delay:hover {
border: 1px solid #000;
border-radius: 4px;
width: 360px;
height: 40px;
}

.input-delay:focus {
border: 1px solid #4e75ff;
border-radius: 4px;
width: 360px;
height: 40px;
outline: none;
}




.legend {
    width: 360px;
    border-radius: 4px;
    border: 1px solid #808080;
margin-top: 15px;
padding: 0;

}


.legend:hover {

border: 1px solid #000;
}

.state-legend {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    /* margin-top: 16px; */
    padding-left: 15px;


}


.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    margin-top: 14px;
    gap: 48px;
    width: 264px;
    padding-left: 48px;
  }

  .radio-text-fulfilled {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    display: flex;
    align-items: center;

    gap: 8px;
    margin-bottom: 8px;
}

.radio-input-fulfilled {
    border: 1px solid #757575;
    border-radius: 14px;
    width: 20px;
    height: 20px;
    /* padding-left: 48px; */
}

.radio-text-rejected {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    display: flex;
    align-items: center;
    gap: 8px;
    
    margin-bottom: 8px;
    

}

.radio-input-rejected {
    border: 1px solid #757575;
    border-radius: 14px;
    width: 20px;
    height: 20px;
}

.btn {
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    /* width: 360px; */
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
text-align: center;
width: 100%;
margin-top: 24px;
}

.btn:hover {
    background: #6c8cff;
}









